nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 55px;
  }
  
  .nav-logo {
    display: flex;
    align-items: center;
  }
  
  .nav-logo img {
    height: 55px; /* Tăng chiều cao logo */
    width: auto; /* Giữ tỷ lệ hình ảnh */
    transition: transform 0.3s ease; /* Thêm chuyển động khi hover */
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .cart-icon,
  .account-icon {
    margin-left: 20px;
    cursor: pointer;
  }
  